parameters:

services:
    - App\Presenters\DrugPresenter
    - App\Presenters\HomePresenter
    - App\Forms\DrugFormFactory
    - App\Repositories\DatabaseRepository
    - App\Repositories\NewsRepository
    - App\Presenters\SignPresenter
    - App\Forms\SignFormFactory
    - App\Repositories\DoctorRepository
