{layout '../layout.latte'}
{block content}

        <a class="my-button" n:href="Doctor:newPatiens">
                Old pacients
        </a>
        <a class="my-button" n:href="Sign:up">
                New pacients
        </a>
{/block}