<div hx-target="this" hx-swap="outerHTML" class ="py-5">
    <div class = "container">

        <h1>New Prescription Drug</h1>

        {control drugForm}


        <div><a href = "{link Drug:tablecontents}" class="button">Back to Drugs</a></div>
    </div>
</div>