<div hx-target="this" hx-swap="outerHTML" class ="py-5">
    <div class = "container">

        <h1>New Prescription Drug</h1>

        {control drugForm}



        <div><button hx-get = "{link Drug:tablecontents}">Back to Podcasts</button></div>
    </div>
</div>