<div hx-target="this" hx-swap="outerHTML" class="py-5">
    <div class="container">
        <h1>New Drug</h1>
        {control drugForm}


        <div><a class="button" href="{link Drug:tablecontents}">Back to the drugs</a></div>