body{
    padding-top: 70px;
}
.card{
    height: 100%;
}

.top_padding{
    padding-top: 30px;
}

.headline{
    color: #4926F9;
}

.button{
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #4926F9;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

a.button {
    display: inline-block;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #4926F9;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-decoration: none; /* Optional, if you want to remove underline */
}

a.button:hover {
    background-color: #5634fa;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

a.button:active {
    background-color: #5f42f1;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon-button:hover{
    -webkit-transition: all 0.25s;
    transform: scale(1.1);
}

.icon {
    width: 32px;
    height: 32px;
    fill: #000;
}

.icon-contact
{
    width: 50px;
    height: 50px;
    fill: #000;
}

/*************************************************BOXES********************************************/
/* Custom CSS for the section */
.my-section {
    padding: 5rem;
}

/* Custom CSS for the container */
.my-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Custom CSS for the row */
.my-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Custom CSS for the columns */
.my-col-md {
    flex: 0 0 calc(25% - 1rem);
    display: flex;
}

/* Custom CSS for the card */
.my-card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Custom CSS for the card body */
.my-card-body {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Custom CSS for the card title */
.my-card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Custom CSS for the card text */
.my-card-text {
    color: #555;
}

/* Custom CSS for the button */
.my-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.my-button:hover {
    background-color: #0056b3;
}

/*************************************************BOXES********************************************/
